# 第3章　プログラムの基礎に触れてみよう

第3章では、以下の項目について学びます。

* 四則演算
* 型
* 変数

## 3.1　四則演算

### 3.1.1　足し算

リスト3.1のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
2
```

In [ ]:
# ここにリスト3.1のコードを書き写す

### 3.1.2　引き算

リスト3.2のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
3
```

In [ ]:
# ここにリスト3.2のコードを書き写す

### 3.1.3　掛け算

リスト3.3のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
21
```

In [ ]:
# ここにリスト3.3のコードを書き写す

### 3.1.4　割り算

リスト3.4のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
5.0
```

In [ ]:
# ここにリスト3.4のコードを書き写す

### 3.1.5　コンピュータにおける小数の扱い

リスト3.5のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
2.5
```

In [ ]:
# ここにリスト3.5のコードを書き写す



---

リスト3.6のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
3.3333333333333335
```

In [ ]:
# ここにリスト3.6のコードを書き写す



---

リスト3.7のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
0.30000000000000004
```

In [ ]:
# ここにリスト3.7のコードを書き写す

### 3.1.6　0での割り算(ゼロ除算)

リスト3.8のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
---------------------------------------------------------------------------
ZeroDivisionError                         Traceback (most recent call last)
(※ここに何かしらの文字が入ります).py in <cell line: 0>()
      1 # ここにリスト3.8のコードを書き写す
----> 2 10 / 0

ZeroDivisionError: division by zero
```

In [ ]:
# ここにリスト3.8のコードを書き写す

### 3.1.7　計算の優先順位

リスト3.9のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
17
```

In [ ]:
# ここにリスト3.9のコードを書き写す



---

リスト3.10のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
21
```

In [ ]:
# ここにリスト3.10のコードを書き写す



---

リスト3.11のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
12.5
```

In [ ]:
# ここにリスト3.11のコードを書き写す

## 3.2　型

### 3.2.1　数値型

リスト3.12のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
int
```

In [ ]:
# ここにリスト3.12のコードを書き写す



---

リスト3.13のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
float
```

In [ ]:
# ここにリスト3.13のコードを書き写す



---

リスト3.14のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
1.0
<class 'float'>
```

In [ ]:
# ここにリスト3.14のコードを書き写す



---

リスト3.15のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
5
<class 'int'>
```

In [ ]:
# ここにリスト3.15のコードを書き写す



---

リスト3.16のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
4
4
-2
```

In [ ]:
# ここにリスト3.16のコードを書き写す

### 3.2.2　テキストシーケンス型

リスト3.17のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
str
```

In [ ]:
# ここにリスト3.17のコードを書き写す



---

リスト3.18のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
5
<class 'str'>
3.14
<class 'float'>
```

In [ ]:
# ここにリスト3.18のコードを書き写す



---

リスト3.19のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
(※ここに何かしらの文字が入ります).py in <cell line: 0>()
      1 # ここにリスト3.19のコードを書き写す
----> 2 "5" + 3

TypeError: can only concatenate str (not "int") to str
```

In [ ]:
# ここにリスト3.19のコードを書き写す



---

リスト3.20のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
'53'
```

In [ ]:
# ここにリスト3.20のコードを書き写す

### 3.2.3　ブーリアン型

リスト3.21のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
<class 'bool'>
<class 'bool'>
```

In [ ]:
# ここにリスト3.21のコードを書き写す

## 3.3　変数



> 【注意】初版第1刷では3.3.1項は84ページの「変数名」ですが、第2刷以降は82ページに「変数の基本」が追加されています(初版第1刷のみ、82ページから84ページにかけて項に名前がついていません)。なお、リストの番号に違いはありません。

### 3.3.1　変数の基本

リスト3.23のコードを書き写して実行してみましょう。
この時点では何も表示されませんが、続いてリスト3.24のように、3行目に `print(a)` と書き加え再度実行してみましょう。

想定される出力結果は次の通りです。

```
2
```

In [ ]:
# ここにリスト3.23および3.24のコードを書き写す



---

リスト3.25のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
1.0
<class 'float'>
```

> 【注意】先にリスト3.23、3.24を実行し、変数bを用意しておく必要があります。

In [ ]:
# ここにリスト3.25のコードを書き写す

### 3.3.2　変数名

リスト3.28のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
(※ここに何かしらの文字が入ります).py in <cell line: 0>()
      1 # ここにリスト3.28のコードを書き写す
      2 print = "夢見りあむ"
----> 3 print("Hello, world!")

TypeError: 'str' object is not callable
```

In [ ]:
# ここにリスト3.28のコードを書き写す



---

リスト3.29のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
(※ここに何かしらの文字が入ります).py in <cell line: 0>()
      1 # ここにリスト3.29のコードを書き写す
----> 2 print("Hello, world!")

TypeError: 'str' object is not callable
```

In [ ]:
# ここにリスト3.29のコードを書き写す



---

リスト3.31のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
Hello, world!
```

In [ ]:
# ここにリスト3.31のコードを書き写す

### 3.3.3　変数に繰り返し値を代入する

リスト3.32のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
大石泉
久川颯
夢見りあむ
```

In [ ]:
# ここにリスト3.32のコードを書き写す



---

リスト3.34のコードを書き写してみましょう。

想定される出力結果は次の通りです。

```
1
3
```

> 【注意】これより前に、リスト3.33のコードを書き写して実行してもよいですが、何も表示されません。

In [ ]:
# ここにリスト3.34のコードを書き写す



---

最後に以下のセルを実行し、`x = x + 1` を `x += 1` に書き換えても結果が同じであることを確認しましょう。

想定される出力結果は次の通りです。

```
1
3
```

In [ ]:
x = 1
print(x)
x += 1
print(x)